@import "../../styles/variables";
@import "../../styles/breakpoints.scss";

.image-text-block {
  position: relative;
  display: flex;

  &__text {
    flex: 1;
    padding-right: $spacing-large;

    .text {
      color: $bic_black;
    }

    .h4 {
      margin-top: 0;
      margin-bottom: $spacing-medium;
    }

    .h2 {
      margin-top: 0;
      margin-bottom: $spacing-x-small;
    }

    .p_large {
      margin-top: 0;
    }

    @include breakpoint("mobile") {
      padding: 0;
    }

    &-label {
      text-decoration: underline;
    }
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25);
    }
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .image-text-block__text {
      padding-right: 0;
      padding-left: $spacing-large;

      @include breakpoint("mobile") {
        padding: 0;
        text-align: left;
      }
    }
  }

  & + & {
    margin-top: $spacing-x-large;

    @include breakpoint("mobile") {
      margin-top: $spacing-medium;
    }
  }

  @include breakpoint("mobile") {
    display: block;
  }
}
