@import "../../styles/variables.scss";

.root {
  background: black;
  min-height: 43.5rem;
  display: flex;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
}

.text-section {
  margin-top: 15rem;
}

.headline {
  margin-bottom: $spacing-medium;
}

.button {
  margin-top: $spacing-medium;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}