@import "../../styles/variables.scss";

@mixin HeadingText {
  color: $color_white;
  font-family: "Omnes";
  font-weight: 700;
  line-height: 125%;
}

@mixin BodyText {
  color: $color_white;
  font-family: "Operator Mono";
  font-weight: 350;
  line-height: 125%;
  margin-top: $spacing_xx_small;
  margin-bottom: $spacing_xx_small;
}

.H1 {
  @include HeadingText;
  font-size: 6rem;
  margin-top: $spacing_large;
  margin-bottom: $spacing_large;
}

.H2 {
  @include HeadingText;
  font-size: 5rem;
  margin-top: $spacing_medium_plus;
  margin-bottom: $spacing_medium_plus;
}

.H3 {
  @include HeadingText;
  font-size: 4rem;
  margin-top: $spacing_medium;
  margin-bottom: $spacing_medium;
}

.H4 {
  @include HeadingText;
  font-size: 3rem;
  margin-top: $spacing_medium_light;
  margin-bottom: $spacing_medium_light;
}

.H5 {
  @include HeadingText;
  font-size: 2.5rem;
  margin-top: $spacing_small;
  margin-bottom: $spacing_small;
}

.H6 {
  @include HeadingText;
  font-size: 2rem;
  margin-top: $spacing_x_small;
  margin-bottom: $spacing_x_small;
}

.p_large {
  @include BodyText;
  font-size: 1.5rem;
}

.p {
  @include BodyText;
  font-size: 1.25rem;
}

.p_small {
  @include BodyText;
  font-size: 1rem;
}
