@import "../../styles/variables.scss";

.feature-block-container {
  flex: 1 0 26%;
  text-align: center;
}

.feature-block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 24.5rem;
  min-width: 16rem;
  margin: 0 auto;

  &__img {
    width: 3.125rem;
    height: 3.125rem;
    max-width: 3.125rem;
    max-height: 3.125rem;
  }
}

p.feature-block__title {
  color: $sophisticated-blue;
  margin: $spacing-x-small 0 $spacing-medium-light 0;
}

p.feature-block__description {
  margin: 0;
}
