@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.feature-block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: grid-start / grid-end;

  @include breakpoint("large-desktop") {
    grid-column: span 2;

    &:nth-child(3n - 1) {
      grid-column: grid-start / span 2;
    }
  }

  @include breakpoint("medium-desktop") {
    grid-column: span 3;

    &:nth-child(2n + 0) {
      grid-column: grid-start / span 3;
    }
  }

  &__img {
    width: 3.125rem;
    height: 3.125rem;
    max-width: 3.125rem;
    max-height: 3.125rem;

    svg, g, path {
      stroke: $bic_off_white;
    }
  }
}

p.feature-block__title {
  color: $bic_off_white;
  margin: $spacing-x-small 0 $spacing-medium-light 0;
}

p.feature-block__description {
  margin: 0;
}
