// Spacing
$spacing_xxx_small: 0.5rem;
$spacing_xx_small: 0.75rem;
$spacing_x_small: 1rem;
$spacing_small: 1.25rem;
$spacing_medium_light: 1.5rem;
$spacing_medium: 2rem;
$spacing_medium_plus: 2.5rem;
$spacing_large: 3rem;
$spacing_x_large: 4rem;
$spacing_xx_large: 5rem;
$spacing_xxx_large: 6rem;

// Colors
$color_white: #ffffff;
$color_black: #000000;
$color_sophisticated_blue: #10C0FF;
$color_dream_blue: #5DD7FF;
$color_summer_gold: #F6C875;
$color_cream_yellow: #FFDB66;
$color_beltic_red: #FF5D5D;
$color_blood_red: #FF4545;
$color_guap_green: #5DFF93;
$color_iceCream15_mint: #00FFE9;
