// Colors
$white: #ffffff;
$black: #000000;
$sophisticated-blue: #10C0FF;
$dream-blue: #5DD7FF;
$summer-gold: #F6C875;
$cream-yellow: #FFDB66;
$beltic-red: #FF5D5D;
$blood-red: #FF4545;
$guap-green: #5DFF93;
$iceCream15-mint: #00FFE9;

// Font sizes
$h1: 5rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 2rem;
$h5: 2.5rem;
$h6: 2rem;
$p-large: 1.875rem;
$p: 1.5rem;
$p-small: 1rem;

// Spacing
$spacing-xxx-small: 0.5rem;
$spacing-xx-small: 0.75rem;
$spacing-x-small: 1rem;
$spacing-small: 1.25rem;
$spacing-medium-light: 1.5rem;
$spacing-medium: 2rem;
$spacing-medium-plus: 2.5rem;
$spacing-large: 3rem;
$spacing-x-large: 4rem;
$spacing-xx-large: 5rem;
$spacing-xxx-large: 6rem;
