@import "../breakpoints.scss";
@import "../variables.scss";

.apps-container {
  padding: $spacing-xxx-large 0;
}

.demo-section {
  background-color: $bic_off_white;
  padding: $spacing-medium-plus 0;

  & .site-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__header.text {
    color: $bic-black;
    max-width: 1100px;
    margin-top: 0;
  }
}

.paging-dot__container {
  top: 0 !important;
  position: relative;
  margin-top: $spacing-medium !important;

  li.active .carousel__indicator-dot {
    background-color: $sophisticated-blue !important;
    opacity: 1;
    scale: 1.1;
  }

  li + li {
    margin-left: $spacing-x-small;
  }

  button.carousel__indicator-dot {
    background-color: $white !important;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    transition: 0.3s;
  
    svg {
      display: none;
    }
  }
}

.feature-section {
  background-color: $bic_black;
  text-align: center;
  padding: $spacing-x-large 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 20.5rem));
    gap: $spacing-x-large;
    justify-content: center;
  }

  &__header.text {
    margin-top: 0;
    color: $bic_off_white;

    @include breakpoint('mobile') {
      margin-bottom: $spacing-medium;
    }
  }
}
