@import "../breakpoints.scss";
@import "../variables.scss";

.apps-container {
  padding: $spacing-x-large 0;
}

.demo-section {
  background-color: $white;
  padding: $spacing-medium-plus 0;

  & .site-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__header.text {
    color: $dream-blue;
    max-width: 1100px;
    margin-top: 0;
  }
}

.carousel__indicator-dot {
  background-color: $white;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  opacity: 0.55;
  transition: 0.3s;

  &.active {
    background-color: $sophisticated-blue;
    opacity: 1;
    scale: 1.1;
  }

  & + & {
    margin-left: $spacing-x-small;
  }
}

.feature-section {
  background-color: $black;
  text-align: center;
  padding: $spacing-x-large 0;

  &__carousel {
    display: none;

    @include breakpoint('mobile') {
      display: block;
    }

    .carousel.carousel-slider {
      display: flex;
      flex-flow: column-reverse;

      & .control-dots {
        position: relative;
        margin: 0;
        margin-top: $spacing-medium;
      }

      & .feature-block {
        margin: 0 auto;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 20.5rem));
    gap: $spacing-x-large;
    justify-content: center;

    @include breakpoint('mobile') {
      display: none;
    }
  }

  &__header.text {
    margin-top: 0;
    color: $sophisticated-blue;

    @include breakpoint('mobile') {
      margin-bottom: $spacing-medium;
    }
  }
}
