@font-face {
  font-family: "Omnes";
  font-style: normal;
  font-weight: 400;
  src: url("./omnes.ttf") format("truetype");
}

.App {
  flex-direction: column;
  font-family: "Omnes", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 75%;
  font-size: 1.5rem;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
  }

  a {
    text-decoration: underline;
    color: white;
    margin-right: 5px;

    &:hover {
      color: black;
    }
  }
}

.footer {
  text-transform: uppercase;

  h2 {
    margin-bottom: 10px;
    opacity: 0.75;
  }

  a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: #fff;

    &:hover {
      color: #000;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    padding: 16px;
  }

  .body {
    width: 90%;
    font-size: 1rem;

    h1 {
      font-size: 2rem;
    }
  }

  .logo {
    height: 30px;
  }
}
